<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header">
            <div id="search">
                <div class="search-wrap">
                    <form action="">
                        <div class="search-container">
                            <input type="text" autocomplete="off">
                            <button onclick=""><img src="/images/search.png" width="20px"></button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="logo">
                <img src="/images/logo.png">
            </div>
            <div id="category">
                <div>
                    <a href="/member/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>